name: Deploy Terraform

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1  # Correct region

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Write SSH Private Key from Terraform Output
        run: |
          mkdir -p ~/.ssh
          terraform output -raw private_key > ~/.ssh/key.pem
          chmod 600 ~/.ssh/key.pem

      - name: EC2 IP from Terraform Output
        id: ec2ip
        run: |
          echo "EC2_IP=$(terraform output -raw public_ip)" >> $GITHUB_ENV
          sleep 60

      - name: Run Ansible Playbook
        run: |
          ansible-playbook -i "${{ env.EC2_IP }}," ansible/playbook.yml -u "ubuntu" \
            --private-key ~/.ssh/key.pem \
            -e 'ansible_ssh_common_args="-o StrictHostKeyChecking=no"'